<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= data.title %></title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to the Home Page</h1>
            <div><%- include("about") %></div>
            <div>
                <% if (data.page && data.page !== "main") { %> <%-
                include(data.page) %> <% } %> <%= data.page %>
            </div>
        </div>
    </body>
</html>
